.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    object-fit: cover;
}

@media (max-width: 720px) {
    .header__logo {
        height: 42px;
    }
}