.footer__copyright {
    text-align: right;
    color: white;
    line-height: 16px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 720px) {
    .footer__copyright {
        margin: 48px 0 0 0;
    }
}