@font-face {
    font-family: InterRegular;
    src: url("Inter-Regular.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("Inter-Bold.ttf");
}

@font-face {
    font-family: InterBlack;
    src: url("Inter-Black.ttf");
}