.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cover__overlay:before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(42, 44, 47, 0.3);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cover__overlay:hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(42, 44, 47, 0.8);
    width: 100%;
    height: 100%;
    cursor: pointer;
}